DB_HOST=basededatos.proveedor.com
DB_PORT=PUERTO
DB_NAME=BASE_DE_DATOS
DB_USER=USUARIO
DB_PASSWORD=CONTRASEÑA

# AWS DYNAMODB
AWS_ACCESS_KEY_ID=AKIA_TU_ACCESS_KEY_AQUI
AWS_SECRET_ACCESS_KEY=TU_SECRET_KEY_AQUI
AWS_REGION=us-east-1